<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기 결과</title>
</head>
<body>
<h1>비밀번호 찾기 결과</h1>
<hr>
<div>
  <p th:text="${email} + '님 환영합니다!'"></p>
  <!-- 해당 email 회원이 있을 때에만 form을 띄웁니다. -->
  <div th:if="${email}">
    <form th:action="@{/member/findPasswordResult}" method="post">
      <p>인증번호를 입력해주세요:</p>
      <input type="password" name="authNumber">
      <input type="hidden"  th:value="${authNum}">
      <br>
      <p>새로운 비밀번호를 입력해주세요:</p>
      <input type="password" name="newPassword">
      <input type="password" name="newPasswordCheck">
      <input type="hidden" name="phone" th:value="${phone}">
      <button>확인</button>
      <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
      <input type="hidden" name="email" th:value="${email}">
    </form>
  </div>
</div>
<hr>
<a href="/" th:text="홈으로"></a>
</body>
</html>