<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>신고</title>
    <link rel="stylesheet" href="/css/menucss.css">
</head>
<body>
    <nav th:replace="fragments/common :: menu"></nav>
    <h1>
        <span th:text="'신고자 : ' + ${declaration.reporter.nickname} + '!'"></span>
    </h1>
    <h1>
        <span th:text="'신고당하는 사람 : ' + ${declaration.reported.nickname} + '!'"></span>
    </h1>
    <form th:action="@{/admin/declaration}" method="post" accept-charset="UTF-8">
        <input type="hidden" id="reporter" name="reporter" th:value="${declaration.reporter.id}" />
        <input type="hidden" id="reported" name="reported" th:value="${declaration.reported.id}" />
<!--        <input type="text" name="setReport_content" placeholder="제목" required><br>-->
        <input type="hidden" name="setReport_content" th:value="${declaration.report_content}" />
        <textarea name="content" placeholder="내용" required></textarea><br>
        <button type="submit">제출</button>
    </form>
</body>
</html>