<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>My Posts</title>
</head>
<body>
<h1>My Post_List</h1>
<table>
  <thead>
  <tr>
    <th>글 번호</th>
    <th>닉네임</th>
    <th>글 제목</th>
    <th>생성날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post, postNumber : ${myPosts}">
    <td th:text="${postNumber.index + 1}"></td>
    <td th:text="${nickname}"></td>
<!--    <td><a th:href="@{/mypage/detail/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>-->
    <td><a th:href="@{/posts/detail/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
    <td th:text="${post.createDate}"></td>
  </tr>
  </tr>
  </tbody>
</table>
</body>
</html>
