
<!DOCTYPE html>
<html>
<head>
  <title>My Profile</title>
  <style>
    .container_else {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #eee;
    }

    .container h2 {
      margin: 0;
    }
  </style>
</head>
<body>
<nav th:replace="fragments/common :: menu"></nav>
<h1>Welcome to My Page</h1>
<p th:text="'Hello, ' + ${member.email} + '!'"></p>
<p th:text="'Name: ' + ${member.name}"></p>
<p th:text="'Nickname: ' + ${member.nickname}"></p>
<p th:text="'Phone: ' + ${member.phone}"></p>
<p th:if="${member.github}"><a th:href="${member.github}" th:text="${member.github}" target="_blank"></a></p>
<p th:if="${member.instargram}"><a th:href="${member.instargram}" th:text="${member.instargram}" target="_blank"></a></p>
<!--<img th:if="${member.image != null}" th:src="@{'/image/' + ${member.id}}" alt="Profile Image">-->
<!--<img th:if="${member.image == null}" src="/images/default-profile-image.png" alt="Default Profile Image">-->


<form th:action="@{/profile/mylist/{nickname}(nickname=${nickname_profile})}" method="get">
  <button type="submit">View My Posts</button>
</form>

<form th:action="@{/profile/edit/{nickname}(nickname=${nickname_profile})}" method="get">
  <button type="submit">Edit My profile</button>
</form>

<button th:onclick="|location.href='@{/}'|">
  Home
</button>
</body>
</html>
