<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .container_else {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #eee;
    }

    .container h2 {
      margin: 0;
    }
    .container {
      padding-left: 15%;
      padding-right: 15%;
    }
    .date {
      text-align: right;
    }
    h1{
      text-align: center;
    }
    .content{
      padding: 10%;
    }
    .name{
      text-align: right;
    }
  </style>
  <meta charset="utf-8">
  <title>Post Detail</title>
</head>
<body>
<nav th:replace="fragments/common :: menu"></nav>
<div class="container">
  <h1 th:text="${post.title}"></h1>
  <p class="name">작성자: <a th:href="@{/profile/myinfo/{nickname}(nickname=${post.member.nickname})}" th:text="${post.member.nickname}"></a></p>
  <p class="content" th:text="${post.content}"></p>
  <p class="date">작성일: <span th:text="${post.createDate}"></span></p>

</div>
</body>
</html>