<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  <title>Title</title>
  <style>
    .container_else {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #c4ff9e;
    }

    .container h2 {
      margin: 0;
    }
  </style>
</head>
<body>
<nav th:replace="fragments/common :: menu"></nav>
<h1>전체 글 목록</h1>
<table class="all">
  <thead>
  <tr class="container">
    <th>글 번호</th>
    <th>닉네임</th>
    <th>글 제목</th>
    <th>생성날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr class="container" th:each="post, postNumber : ${postList}">
    <td th:text="${postNumber.index + 1}"></td>
    <td th:text="${post.member != null ? post.member.nickname : 'unknown'}"></td>
<!--    <td th:text="${post.getMember().getNickname()}"></td>-->
    <td><a th:href="@{/posts/detail/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
    <td th:text="${post.createDate}"></td>
  </tr>
  </tr>
  </tbody>
</table>
<div> <a th:href="@{/posts/create/{memberId}(memberId=${member.get().id})}"> 글 작성하기</a> </div>
</body>
</html>
