<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

  <div>
      <div th:each="post : ${postList}" >
        제목 <div th:text = "${post.title}"></div>
          <p>

        글 내용<div th:text = "${post.content}"></div>
      </div>

      <div>
          <a th:href="@{/posts/create}"> 글 작성하기</a>
      </div>
  </div>
</body>
</html>