/*body {*/
/*    padding-left: 20%;*/
/*    padding-top: 10%;*/
/*}*/
nav {
    width: 15%;
    background-color: #c8ffb5bf;
    border-right: 2px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav img {
    width: 100%;
    height: auto;
}

.menu .mail {
    display: block;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 20px;
    color: #000000;
    text-align: center;
    color: black;
    font-weight: bold;
}
.menu .mail:hover {
    background-color: white;
    color: black;
}
.write_btn {
    border: none;
    background-color: rgb(5, 103, 33);
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
/*.count{*/
/*    padding-left: 5px;*/
/*    padding-right: 5px;*/
/*}*/
.right_button {
    display: flex;
    align-items: center;
    margin: 8%;    /*nav 위치 */
}
.right_button button{
    margin: 10px;
    color: white;
}
.right_button .nick_btn {
    background-color: #45a049;
    border-radius: 17px;
    margin-right: 10px;

}
.right_button .log_btn {
    background-color: #45a049;
    border-radius: 17px;

}