body {
    padding-left: 10%;
    padding-right: 10%;

}
.container_else {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: rgba(196, 255, 158, 0.4);
    투명한건 어떤가 싶어서 주석 처리
    */
}

.container h2 {
    margin: 0;
}
.container_else button {
    background-color: transparent;
    color: black;
    border: 0px;
    outline: none;
}
.container_else .left_button {
    display: flex;
    align-items: center;
}
.container_else .left_button .firstbut:hover button {
    text-decoration: underline;
    text-decoration-color: #45a049;
    color: #45a049;

}
.container_else .left_button .secbut:hover button{
    text-decoration: underline;
    text-decoration-color: #45a049;
    color: #45a049;

}
.container_else .left_button .thrbut:hover button{
    text-decoration: underline;
    text-decoration-color: #45a049;
    color: #45a049;

}
.container_else .left_button button{
    margin-right: 30px;
}

.container_else .right_button {
    display: flex;
    align-items: center;
    margin: 8%;    /*nav 위치 */
}
.container_else .right_button button{
    margin: 10px;
    color: white;
}
.container_else .right_button .nick_btn {
    background-color: #45a049;
    border-radius: 17px;
    margin-right: 10px;

}
.container_else .right_button .log_btn {
    background-color: #45a049;
    border-radius: 17px;

}