<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <style>
        .start_bttn {
            align-items: center;
            border: 0;
            font-size: 50px;
            background-color: #1d6222;
            color: white;
        }
    </style>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=ea6dedfd426ef3bfa6075139675dcaf7&libraries=services"></script>
    <link rel="stylesheet" type="text/css" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/menucss.css">
    <script type="text/javascript" src="/css/fullpage.js"></script>
</head>
<body>
<th:block sec:authorize = "isAnonymous()">
    <div id="full-page">
        <div class="section">
            <h2 align="center">다른 누군가와 공부를 하고 싶으신가요?</h2>
        </div>
        <div class="section">
            <h2 align="center">동네 스터디원을 구하고 싶으신가요?</h2>
        </div>
        <div class="section">
            <h2 align="center">근처 이웃과 함꼐 공부하는 양상추 스터디</h2>
        </div>
        <div class="section">
            <div class="col" align="center">
                <button class="start_bttn"
                        sec:authorize="isAnonymous()" th:onclick="|location.href='@{/member/login}'|"
                        type="button">
                    지금 바로 시작하기
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block sec:authorize = "isAuthenticated()">
    <nav th:replace="fragments/common :: menu"></nav>
    <img id="locationImage" src="/images/location.png" onclick="getLocationAndSaveLocation()" alt="위치 인증버튼">
    <span>현재 위치 정보</span>
    <span id="centerAddr"></span>
    <div id="map" style="width:100%;height:550px;"></div>

</th:block>
</div> <!-- /container -->
<script>
    new fullpage('#full-page', {
        // 이동
        menu: '#menu',
        lockAnchors: false,
        anchors:['firstPage', 'secondPage','thirdPage','fourthPage'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['인트로', '인트로2','thirdSlide', '시작'],
        showActiveTooltip: true,
        // 스크롤
        css3: true,
        scrollingSpeed: 700,
        autoScrolling: true,
        fitToSection: true,
        fitToSectionDelay: 600,
        scrollBar: false,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: true,
        continuousVertical: false,
        continuousHorizontal: false,
        scrollHorizontally: false,
        interlockedSlides: false,
        dragAndMove: false,
        offsetSections: false,
        resetSliders: false,
        fadingEffect: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: true,
        scrollOverflowMacStyle: false,
        scrollOverflowReset: false,
        touchSensitivity: 15,
        bigSectionsDestination: null,

        // 접근성
        keyboardScrolling: true,
        animateAnchor: true,
        recordHistory: true,

        // 디자인
        controlArrows: true,
        controlArrowsHTML: [
            '<div class="fp-arrow"></div>',
            '<div class="fp-arrow"></div>'
        ],
        verticalCentered: true,
        sectionsColor : ['#A5D6A7','#66BB6A','#43A047','#2E7D32'],
        paddingTop: '3em',
        paddingBottom: '10px',
        fixedElements: '#header, .footer',
        responsiveWidth: 0,
        responsiveHeight: 0,
        responsiveSlides: false,
        parallax: false,
        parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},
        dropEffect: false,
        dropEffectOptions: { speed: 2300, color: '#F82F4D', zIndex: 9999},
        waterEffect: false,
        waterEffectOptions: { animateContent: true, animateOnMouseMove: true},
        cards: false,
        cardsOptions: {perspective: 100, fadeContent: true, fadeBackground: true},

        // 맞춤 선택자
        sectionSelector: '.section',
        slideSelector: '.slide',

        lazyLoading: true,
        observer: true,
        credits: { enabled: true, label: 'Made with fullPage.js', position: 'right'},

        // 사건(이벤트)
        beforeLeave: function(origin, destination, direction, trigger){},
        onLeave: function(origin, destination, direction, trigger){},
        afterLoad: function(origin, destination, direction, trigger){},
        afterRender: function(){},
        afterResize: function(width, height){},
        afterReBuild: function(){},
        afterResponsive: function(isResponsive){},
        afterSlideLoad: function(section, origin, destination, direction, trigger){},
        onSlideLeave: function(section, origin, destination, direction, trigger){},
        onScrollOverflow: function(section, slide, position, direction){}
    });
</script>

<script>
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 현재 위치를 받아와서 좌표로 변환하고 주소를 표시합니다
    function getLocationAndSaveLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(saveLocationToServer);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        var image = document.getElementById("locationImage");
        image.style.display = "none";
    }
    function saveLocationToServer(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const location = `${latitude},${longitude}`;

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(latitude,longitude), // 지도의 중심좌표
                level:3 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        var markerPosition  = new kakao.maps.LatLng(latitude,longitude);

// 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

// 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 변환된 좌표를 이용하여 주소를 검색하고 표시합니다
        var latlng = new kakao.maps.LatLng(latitude, longitude);
        searchAddrFromCoords(latlng, displayCenterInfo);
    }

    // 좌표로 주소를 검색하는 함수
    function searchAddrFromCoords(coords, callback) {
        geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
    }

    // 주소를 표시하는 함수
    function displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');
            infoDiv.innerHTML = result[0].address_name;
            var splitAddress = result[0].address_name.split(' ');
            var simplifiedAddress = splitAddress.slice(0, 2).join(' ');

            const url = '/members/location';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(simplifiedAddress),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Location saved:', data);
                    // Redirect to the post creation page or perform any other action
                })
                .catch(error => {
                    console.error('Error saving location:', error);
                });
        }
    }

</script>
</body>
</html>
