<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container_else {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #c4ff9e;
        }

        .container h2 {
            margin: 0;
        }
    </style>
</head>
<body>
<th:block sec:authorize = "isAnonymous()">
    <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2>홈 화면</h2>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button" sec:authorize="isAnonymous()"
                        th:onclick="|location.href='@{/members/add}'|">
                    회원 가입
                </button>
            </div>
            <div class="col">
                <a class="w-100 btn btn-dark btn-lg" sec:authorize="isAnonymous()"
                        th:href="@{/member/login}" type="button">
                    로그인
                </a>
            </div>
        </div>
    </div>
</th:block>
<th:block sec:authorize = "isAuthenticated()">
    <nav th:replace="fragments/common :: menu"></nav>
    <hr>
    <div>
        <button th:onclick="|location.href='@{/posts/create/{memberId}(memberId=${memberId})}'|">
            글 생성
        </button>
    </div>
    <div>
        <button th:onclick="|location.href='@{/posts/lists}'|">
            전체 글 보기
        </button>
    </div>
</th:block>
</div> <!-- /container -->
</body>
</html>
