<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="all">
    <thead>
    <tr>
        <th>보낸사람ㅁ</th>
        <th>제목</th>
    </tr>
    </thead>
    <tbody class="all">
    <tr th:each="m : ${mail}">
        <td class ="sender"><a th:href="@{/profile/myinfo/{nickname}(nickname=${m.getSender().nickname})}" th:text="${m.getSender().nickname}"></a></td>
        <td class="title"><a th:href="@{/mail/detail/{mailId}(mailId=${m.id})}" th:text="${m.title}"></a></td>
    </tr>
    </tr>

    <a th:href="@{/mail/send}">메일 쓰기</a>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='All') } ">전체 메일함</a>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='Receiver')} ">받은 메일함</a>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='Sender' ) } ">보낸 메일함</a>

    <!--    <a th:href="@{mail/list/">받은 메일함</a>-->
<!--    <a th:href="@{mail/list/">보낸 메일함</a>-->
    <!--    <tr th:if="${postPage.totalElements == 0}">-->

    <!--        <td colspan="4">No posts found.</td>-->
    <!--    </tr>-->
    </tbody>
</table>
</body>
</html>