<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mailcss.css">
</head>
<body>
<nav th:replace="fragments/MailCom :: menu"></nav>
<table>
    <thead>
    <tr>
        <th>보낸사람</th>
        <th>제목</th>
    </tr>
    </thead>
    <tbody class="all">
    <tr th:each="m : ${mail}">
        <td class ="sender"><a th:href="@{/profile/myinfo/{nickname}(nickname=${m.getSender().nickname})}" th:text="${m.getSender().nickname}"></a></td>
        <td class="title"><a th:href="@{/mail/detail/{mailId}(mailId=${m.id})}" th:text="${m.title}"></a></td>
        <td class="createDate"><span th:text="${#dates.format(m.sendDate, 'yyyy-MM-dd HH:mm')}"></span></td>
    </tr>
    <!-- <a th:href="@{/mail/send}">메일 쓰기</a>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='All') } ">전체 메일함</a>
    <span th:text="${mailCount}"></span>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='Receiver')} ">받은 메일함</a>
    <a th:href="@{/mail/lists/{nickname}(nickname=${nickname},who='Sender' ) } ">보낸 메일함</a> -->
    </tbody>
</table>
</body>
</html>